# EditorConfig is awesome: https://EditorConfig.org

root = true

[*.md]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.sln]
charset = utf-8-bom
end_of_line = crlf

[*.{csproj,vbproj,proj,props,targets}]
charset = utf-8-bom
indent_size = 2
end_of_line = crlf

[*.sh]
end_of_line = lf
indent_size = 2
