bin/
obj/
*.userprefs
*.*proj.user
.vs/
TestResult.xml
TestResults/
mono_crash.mem.*.blob
mono_crash.*.json
.mypy_cache/
.vscode/*
!.vscode/cspell.json
!.vscode/extensions.json
!.vscode/settings.json
