# EditorConfig is awesome: https://EditorConfig.org

[*.cpp]
indent_style = space
indent_size = 4

# ref: https://docs.microsoft.com/ja-jp/visualstudio/ide/cpp-editorconfig-properties
cpp_new_line_before_open_brace_type = same_line
cpp_new_line_before_open_brace_function = new_line
cpp_new_line_before_open_brace_block = same_line
cpp_new_line_before_else = true
cpp_indent_preserve_comments = true
cpp_indent_case_labels = true
cpp_space_around_assignment_operator = ignore
cpp_space_pointer_reference_alignment = left
