# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"

name: Run tests for demo

on:
  push:
    branches: [main]
    paths:
      - "src/impls/javascript/*.js"
      - "src/impls/javascript/*.mjs"
      - "src/demo/contents/*.js"
      - "src/demo/contents/*.mjs"
      - "tests/demo/**/*"
      - "!tests/demo/.*"
      - "!tests/demo/README.md"
  pull_request:
    types:
      - opened
      - review_requested
      - synchronize
    paths:
      - "src/impls/javascript/*.js"
      - "src/impls/javascript/*.mjs"
      - "src/demo/contents/*.js"
      - "src/demo/contents/*.mjs"
      - "tests/demo/**/*"
      - "!tests/demo/.*"
      - "!tests/demo/README.md"
  workflow_dispatch:
    inputs:
      verbose:
        description: "If true, enables verbose output."
        required: false
        type: boolean
        default: false

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  DOTNET_SDK_MINIMUM_VERSION: "10.0.100"
  NODEJS_MINIMUM_VERSION: 18

jobs:
  run-tests:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare .NET SDK ${{ env.DOTNET_SDK_MINIMUM_VERSION }}
        uses: smdn/workflows-dotnet/actions/prepare-dotnet-sdk@actions/prepare-dotnet-sdk/v1.0.0
        with:
          minimal_dotnet_sdk_version: '${{ env.DOTNET_SDK_MINIMUM_VERSION }}'

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODEJS_MINIMUM_VERSION }}
          # cache: npm

      - name: Setup node modules cache
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-cache-node-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install script dependencies
        run: |
          cd tests/demo/
          npm install

      - name: Run tests
        shell: pwsh
        run: |
          # $verbose = '${{ inputs.verbose }}' -ieq 'true'

          pwsh tests/demo/run-test.ps1
